body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 35vh;
}

h1 {
    padding: 10px;
    font-size: 80px;
    font-weight: 300;
}

.button {
    display: inline-block;
    font-size: 48px;
    width: 170px;
    height: 55px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.button:hover {
    color: red;
    cursor: pointer;
}
